.form-container{
  display: flex;
  width: 100%;
  justify-content: center;;
}
form {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px
  
}

input.content-form{
 
  width:70%;
  padding: 20px;
  border-radius: 30px 30px 30px 30px ;
  
}


.button-submit-form{
  padding: 10px 20px;
 width: 150px;
  border-radius: 30px 30px 30px 30px;
  background: white;
  cursor: pointer;
  font-size: 1rem;
  
  
}

@media screen and (max-width: 800px) {
  form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
}