.todo {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 60px;
  margin: 15px;
  border-radius: 15px;
  white-space: normal;
  background-color: #030621;
  border: solid 2px white;
}

.todo p {
  color: white;
}

.content {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icone-valid {
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  place-items: center;
  height: 15px;
}

.actions-todo {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.edit-trash {
  cursor: pointer;
}

.icone-trash {
  cursor: pointer;
}
