.todo{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 60px;
  background-color: white;
  margin: 15px;
  border-radius: 15px;
  white-space: normal;

  
}

.todo {
  background-color: #030621; ;
 border: solid 2px white;
}

.todo p{
  color: white;
}

.actions-todo{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  
}

.icone-valid{
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  place-items: center;
}