:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

body{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #030621;
  
}

h1{
  color: white;
}

p{color: aliceblue;}



